/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
  color: darkslategrey;
  font-family: sans-serif;
  color: darkslategrey;
}

h1 {
  color: #2e616b;
  text-align: center;
}

h2 {
  color: #2e616b;
}

a {
  font-weight: bold;
}

div {
  background-color: #a8e8c3;
}