/* Moderní box model - nastavená šířka boxu v této verzi zahrnuje padding a border */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	color: hsl(0, 0%, 40%);
	margin: 0;
}

h1,
h2 {
	color: hsl(100, 50%, 40%);
}

h1 {
	font-size: 3.5rem;
}

h2 {
	font-size: 2.5rem;
}

a {
	font-weight: bold;
}

img {
	width: 300px;
	margin: 0.3rem;
	padding: 0.6rem;
	border: 2px solid hsl(100, 50%, 40%);
}

.mapa {
	border-color: hsl(50, 100%, 70%);
}

.obsah {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.uvod {
	text-align: center;
}

.menu {
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li {
	display: inline-block;
}

.menu a {
	font-size: 1.5rem;
	display: block;
	padding: 0.5rem 2rem;
}

.galerie,
.kontakt {
	padding: 1rem;
}

.galerie {
	background-color: hsl(50, 90%, 90%);
}

.kontakt {
	background-color: hsl(100, 90%, 90%);
}

.kontakt a:hover {
	color: hsl(100, 50%, 40%);
}

.paticka {
	padding: 1.25rem 1rem;
	color: hsl(0, 0%, 100%);
	background-color: hsl(30, 100%, 25%);
}

.licence {
	font-size: 80%;
}
