/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	margin: 0;
	color: darkslategrey;
	font-family: sans-serif;
}

h1,
h2 {
	color: #005128;
}

h1 {
	font-size: 48px;
	text-align: center;
}

h2 {
	font-size: 30px;
}

a {
	font-weight: bold;
}

.obsah {
	max-width: 960px;
}

/* Navigace */
.nav {
	background-color: #3c7a89;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.nav a {
	display: block;
	padding: 15px 30px;
	font-size: 24px;
	color: white;
	text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
	background-color: #2f606e;
}

.galerie,
.kontakt,
.paticka {
	padding: 10px;
}

.galerie {
	background-color: #a8e8c3;
}

img {
	width: 300px;
	padding: 10px;
	border: 2px solid black;
	margin: 5px;
}

.kontakt {
	background-color: #f9cb8f;
}

.kontakt a:hover {
	color: maroon;
}

.mapa {
	border-color: brown;
}

.paticka {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #955e42;
	color: #fff;
}

.paticka a {
	color: white;
}
