/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	font-family: sans-serif;
	font-size: 18px;
}

h1 {
	color: #2b4856;
	font-size: 48px;
	text-align: center;
}

h2 {
	color: #2b4856;
	font-size: 30px;
}

a {
	font-weight: bold;
}

.kontakt {
	background-color: #f9cb8f;
}

.paticka {
	background-color: #f19181;
	color: #fff;
	text-align: center;
}