/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

h1 {
	color: #332a2d;
	text-align: center;
}

h2 {
	color: #332a2d;
}

a {
	font-weight: bold;
}

div {
	background-color: #f9cb8f;
}