/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
  color: darkslategrey;
  font-family: sans-serif;
}

h1 {
  color: #2e616b;
  font-size: 48px;
}

h2 {
  color: #2e616b;
  font-size: 30px;
}

a {
  font-weight: bold;
}

.galerie {
  background-color: #dee8c9;
}

img {
  width: 300px;
}

.kontakt {
  background-color: #f9cb8f;
}

.paticka {
  background-color: #74593e;
  color: #fff;
}
