/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	color: darkslategrey;
	font-family: sans-serif;
}

h1 {
	color: #005128;
	font-size: 48px;
	text-align: center;
}

h2 {
	color: #005128;
	font-size: 30px;
}

a {
	font-weight: bold;
}

.galerie {
	background-color: #a8e8c3;
}

img {
	width: 300px;
}

.kontakt {
	background-color: #f9cb8f;
}

.paticka {
	background-color: #955e42;
	color: #fff;
}

.licence {
	font-size: 80%;
}
