/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

h1 {
	color: #005128;
	font-size: 48px;
	text-align: center;
}

h2 {
	color: #005128;
	font-size: 30px;
}

a {
	font-weight: bold;
}
