/* Moderní box model - nastavená šířka boxu v této verzi zahrnuje padding a border */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	color: hsl(0, 0%, 40%);
}

h1 {
	font-size: 3.5rem;
	color: hsl(100, 50%, 40%);
}

h2 {
	font-size: 2.5rem;
	color: hsl(100, 50%, 40%);
}

a {
	font-weight: bold;
}
