/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

h1 {
	color: #f3b562;
	text-align: center;
}

h2 {
	color: #f3b562;
}

a {
	font-weight: bold;
}