@import url(https://fonts.googleapis.com/css?family=Patrick+Hand&subset=latin,latin-ext);

/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
}

h1,
h2 {
	color: #332a2d;
	font-family: "Patrick Hand", Comic, sans-serif;
}

h1 {
	font-size: 48px;
	text-align: center;
}

h2 {
	font-size: 30px;
}

a {
	font-weight: bold;
}

a:hover,
a:active,
a:focus {
	color: maroon;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.nav {
	background-color: #5c4b51;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.nav a {
	display: block;
	padding: 15px 30px;
	font-size: 24px;
	color: white;
	text-decoration: none;
}

.nav a:hover,
.nav a:active,
.nav a:focus {
	background-color: #332a2d;
}

.o-mne {
	background-color: #8cbeb2;
}

.krystufek {
	float: right;
	margin: 0 0 30px 30px;
	width: 30%;
	max-width: 200px;
	height: auto;
	border: 1px solid #000000;
	border-radius: 50%;
}

.fotogalerie {
	padding: 20px;
	background-color: #f2ebbf;
}

.fotky {
	font-size: 0;
}

.fotky img {
	width: 32.83%;
	border: 1px solid silver;
	margin-right: 0.5%;
	margin-bottom: 0.5%;
}

.kontakt {
	padding: 20px;
	background-color: #f9cb8f;
}

.obsah {
	max-width: 960px;
	margin: 0 auto;
}

.mapa {
	width: 50%;
	float: left;
	margin-right: 20px;
}

.paticka {
	padding: 20px 0;
	background-color: #f06060;
	color: #fff;
	text-align: center;
}

.paticka a {
	color: #fff;
}