/* Moderní box model - nastavená šířka boxu v této verzi zahrnuje padding a border */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: hsl(0, 0%, 40%);
}

h1 {
	color: hsl(100, 50%, 40%);
}

h2 {
	color: hsl(100, 50%, 40%);
}
