/* Moderní box model - nastavená šířka boxu v této verzi zahrnuje padding a border */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: Nunito, sans-serif;
	line-height: 1.6;
	margin: 0;
	color: hsl(0, 0%, 40%);
	background-color: hsl(50, 90%, 90%);
}

h1,
h2 {
	font-family: 'Mali', serif;
}

h1 {
	font-size: 3.5rem;
	text-align: center;
	color: hsl(195, 100%, 45%);
}

h2 {
	font-size: 2.5rem;
	color: hsl(100, 50%, 40%);
}

a {
	font-weight: bold;
	color: hsl(195, 100%, 45%);
}

a:hover {
	text-decoration: none;
}

.obsah {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.uvod {
	text-align: center;
	background-color: hsl(195, 100%, 90%);
}

/* Menu */
.menu {
	font-family: 'Mali', serif;
	background-color: hsl(100, 50%, 40%);
	margin: 0;
	padding: 0;
	text-align: center;
}

.menu li {
	display: inline-block;
}

.menu a,
.menu span {
	font-size: 1.5rem;
	font-weight: normal;
	display: block;
	padding: 0.5rem 2rem;
	text-decoration: none;
	color: hsl(50, 100%, 70%);
}

.menu a:hover,
.menu a:active,
.menu a:focus,
.menu .active {
	color: hsl(100, 50%, 40%);
	background-color: hsl(50, 100%, 70%);
}

.o-mne,
.uvod,
.galerie,
.kontakt,
.paticka {
	padding: 1rem;
}

.o-mne {
	background-color: hsl(195, 100%, 90%);
}

.galerie {
	background-color: hsl(50, 90%, 90%);
}

.kontakt {
	background-color: hsl(100, 90%, 90%);
}

img {
	width: 300px;
	margin: 0.3rem;
	padding: 0.6rem;
	padding-bottom: 1.8rem;
	border: 2px solid hsl(100, 50%, 40%);
	border-bottom-color: hsl(100, 50%, 20%);
	background-color: hsl(0, 0%, 100%);
}

.obrazek-siroky {
	width: 100%;
}

.kontakt a:hover {
	color: hsl(100, 50%, 40%);
}

.mapa {
	/* border-color: hsl(50, 100%, 70%); */
}

.paticka {
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	text-align: center;
	color: hsl(0, 0%, 100%);
	background-color: hsl(30, 100%, 25%);
}

.licence {
	font-size: 80%;
}

.paticka a {
	color: hsl(0, 0%, 100%);
}

.paticka a:hover {
	text-decoration: none;
	color: hsl(50, 100%, 70%);
}
