/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	color: darkslategrey;
    font-family: sans-serif;
}

h1 {
    color: #2e616b;
}

h2 {
    color: #2e616b;
}

a {
	font-weight: bold;
}
