/* Moderni box model */ *, *:before, *:after { box-sizing: border-box; }

body {
	font-family: sans-serif;
}

h1 {
    color: #005128;
    text-align: center;
}

h2 {
    color: #005128;
}

a {
	font-weight: bold;
}
